.idea/
*.retry
.project
*.iml
id_rsa*
authorized_keys
*.key
*.cer
*.crt
passwd
group
.k5.*
roles/ansible_repo_ntp/files/terraform/terraform
terraform/.terraform*
!.terraform.lock.hcl
*lock.json
*.keytab
.vscode/settings.json
*.bak
*.old
*.dist
.vscode/
roles/seed/keycloak/files/*.json
.DS_Store

## any local testing stuff (not on git)
inventories/local
inventories/local/.NOT_ON_GIT
inventories/local/group_vars
inventories/local/hosts
